*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lobster: 'Lobster Two', cursive;
    --gabby: 'Gabriola';
    --brush: 'Brush Script MT';
    --courgette: 'Courgette', cursive;
    --edwardian: 'Edwardian Script ITC';
    --kunstler: 'Kunstler Script';
}

::-webkit-scrollbar {
    width: .7rem;
}

::-webkit-scrollbar-track {
    background-color: #000;
    transition: background-color .5s ease;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,.4);
}

html {
    font-size: 10px;
    font-family: 'Lato',sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    background-color: transparent;
}

nav {
    width: 100;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 0;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo p {
    font-size: 1.7rem;
    font-family: var(--lobster);
    color: #fff;
}

.nav-list {
    display: flex;
}

.nav-list li {
    margin-right: 2rem;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    color: #fff;
    font-size: 1.9rem;
    font-weight: 500;
    font-family: 'Cambria';
    position: relative;
    z-index: 1;
}

.nav-list li a::before,
.nav-list li a::after,
.logo::before,
.logo::after {
    position: absolute;
    content: '';
    left: -.5rem;
    right: -.5rem;
    height: 50%;
    z-index: -1;
    background-color: rgba(0,0,0,.6);
    transform: scaleX(0);
    transition: transform .3s ease;
}

.logo::before,
.nav-list li a::before {
    top: 0rem;
    bottom: 50%;
    transform-origin: left;
}

.logo::after,
.nav-list li a::after {
    top: 50%;
    bottom: 0;
    transform-origin: right;
}

.logo:hover::before,
.logo:hover::after,
.nav-list li a:hover::before,
.nav-list li a:hover::after {
    transform: scaleX(1);
}

.nav-list li .btn,
.nav-list li .order-now {
    font-weight: 100;
    font-size: 1.5rem;
    padding: .7rem 1.2rem;
    border: 1px solid #fff;
    transition: all .5s ease;
}

.nav-list li .btn::before,
.nav-list li .order-now::before,
.nav-list li .btn::after,
.nav-list li .order-now::after {
    display: none;
}

.nav-list li .btn:hover,
.nav-list li .order-now:hover {
    background-color: #eee;
    color: black;
}

.hamburger {
    padding: 1.5rem;
    z-index: 1500;
    display: none;
    position: relative;
}

.hamburger .line {
    width: 4rem;
    height: .3rem;
    background-color: #fff;
    margin-bottom: .5rem;
    transition: opacity .2s ease;
}

.hamburger .line2 {
    transform: scaleX(.7);
    transform-origin: right;
}

.hamburger .line3 {
    margin-bottom: 0;
    transform: scaleX(.4);
    transform-origin: right;
}

.times {
    position: absolute;
    top: 1rem;
    bottom: 1.5rem;
    left: 2rem;
    right: 1.5rem;
    font-size: 3rem;
    color: #fff;
    opacity: 0;
    transition: opacity .2s ease;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,.4), transparent),
                url('images/pexels-photo-1653877.jpeg') center no-repeat;
    background-size: cover;
}

.hero-container {
    display: flex;
    justify-content: center;
    padding: 25rem 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.text-container {
    width: 100%;
    height: 100%;
}

.comp-name {
    font-size: 9rem;
    font-family: var(--courgette);
    color: #fff;
    font-weight: 200;
    opacity: 0;
    transform: translateY(3rem);
    animation: writetext .7s ease forwards;
}

.sub-text {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: 'Cambria';
    margin-bottom: 5rem;
    opacity: 0;
    transform: translateY(3rem);
    animation: writetext .7s ease .8s forwards;
}

@keyframes writetext {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.center-btn .btn {
    color: #fff;
    font-size: 1.7rem;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    transition: all .5s ease;
    opacity: 0;
    transform: scale(.2);
    animation: btnappear .5s ease 1.5s forwards;
}

@keyframes btnappear {
    0% {
        opacity: 0;
        transform: scale(.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #eee;
    color: black;
}

.social {
    position: absolute;
    left: 2rem;
    opacity: 0;
    top: 0;
}

.rotate-text {
    margin-bottom: 2rem;
    color: #fff;
    font-size: 1.6rem;
    position: relative;
    left: -4rem;
    bottom: 4rem;
    transform: rotateZ(-90deg);
}

.rotate-text::after {
    position: absolute;
    content: '';
    right: 140%;
    top: -1.5rem;
    height: 5rem;
    width: .2rem;
    display: block;
    transform: rotateZ(-90deg);
    background-color: #fff;
}

.icons {
    position: absolute;
    top: 10rem;
}

.icons li {
    margin-bottom: 1.5rem;
}

.icons li:last-child {
    margin-bottom: 0;
}

.icons li a {
    font-size: 1.8rem;
    color: #fff;
}

.icons li a .fab {
    transition: transform .3s ease;
}

.icons li a:hover .fab {
    transform: scale(1.3);
}

section {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    padding: 6rem 2rem;
}

.info-top {
    display: flex;
    margin-bottom: 3rem;
}

.info-top img {
    transform: translateX(-120%);
}

.about-text {
    width: 40%;
    text-align: center;
    margin-left: 10%;
    padding-top: 3rem;
    position: relative;
}

.about-text h2 {
    font-weight: 700;
    font-size: 3rem;
    font-family: var(--lobster);
    text-decoration: underline;
    margin-bottom: 1rem;
    opacity: 0;
}

.about-text p {
    font-size: 1.7rem;
    font-family: 'Cambria';
    line-height: 1.8rem;
    color: rgba(0,0,0,.6);
    opacity: 0;
}

.btn-div {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -5rem;
    left: 50%;
}

.btn-div a {
    color: black;
    padding: 1rem 2.5rem;
    border: 2px solid black;
    transition: all .3s ease;
    opacity: 0;
}

.btn-div a:hover {
    background-color: black;
    color: #fff;
}

.imgs-container {
    padding-left: 20rem;
    padding-bottom: 5rem;
}

.small-image {
    margin-left: -4rem;
    margin-bottom: -5rem;
    transform: translateY(5rem);
    opacity: 0;
}

.big-image {
    transform: translateX(-120%);
    opacity: 0;
}

.chef {
    transform: translateX(120%);
    opacity: 0;
}

.menu {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
                url('images/pexels-photo-1878346.jpeg') center no-repeat;
    background-size: cover;
}

.menu-container {
    width: 100%;
    height: 100%;
    padding: 3rem;
    position: relative;
}

.food-desc {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider {
    width: 600%;
    height: 100%;
}

.food {
    height: 100%;
    float: left;
    width: 16.666667%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.desc-content {
    width: 40%;
    color: #fff;
    position: relative;
    z-index: 1;
    transform: translateY(4rem);
    opacity: 0;
    transition: all .5s ease .3s;
}

.desc-content::before,
.desc-content::after {
    content: '';
    position: absolute;
    top: -2rem;
    bottom: -2rem;
    left: -2rem;
    right: -2rem;
    border: 1px solid #fff;
    z-index: -1;
    transition: transform .5s ease;
    transition-delay: .8s;
}

.desc-content::before {
    border-left: none;
    border-right: none;
    transform: scale(0,1);
}

.desc-content::after {
    border-bottom: none;
    border-top: none;
    transform: scale(1,0);
}

.desc-content.show {
    opacity: 1;
    transform: translateY(0);
}

.desc-content.show::before {
    transform: scale(1,1);
}

.desc-content.show::after {
    transform: scale(1,1);
}

.price {
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--lobster);
    text-decoration: underline;
    margin-bottom: 2rem;
}

.food-name,
.desc {
    margin-left: 3rem;
}

.food-name {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Cambria';
    line-height: 2.5rem;
}

.desc {
    margin-bottom: 3rem;
    font-size: 1.7rem;
    font-family: 'Cambria';
}

.img-wrapper {
    transform: translateY(4rem);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease .3s;
}

.img-wrapper.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.order-div {
    display: flex;
    justify-content: center;
}

.order-div a {
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    transition: all .3s ease;
}

.order-div a:hover {
    background-color: #fff;
    color: black;
}

.controls {
    position: absolute;
    left: 40%;
    right: 0;
    top: 5rem;
    z-index: 3;
}

.controls button {
    margin-left: 2rem;
    color: #fff;
    background-color: transparent;
    font-size: 1.4rem;
    padding: 1rem;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all .2s ease;
}

.controls button:first-child {
    margin-left: 0;
}

.controls button:focus {
    outline: none;
}

.scroll-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.scroll-indicator span {
    font-size: 3rem;
    color: rgba(255,255,255,0);
    animation: bright 1.5s linear infinite;
}

.scroll-indicator span:nth-child(2) {
    animation-delay: .4s;
}

.scroll-indicator span:nth-child(3) {
    animation-delay: .8s;
}

@keyframes bright {
    from {
        color: rgba(255,255,255,.4);
    }
    to {
        color: #fff;
    }
}

.process {
    width: 100%;
    height: 100%;
}

.process-wrapper {
    width: 100%;
    height: 100%;
    padding: 7rem 10rem;
    display: flex;
    justify-content: space-between;
}

.process-wrapper .slice {
    transform: rotateZ(-25deg);
}

.process .header {
    font-size: 5rem;
    font-family: 'Cambria';
    font-weight: 300;
    margin-bottom: 4rem;
    transform: translateX(-120%)
}

.part img {
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateY(3rem);
}

.text-cont {
    opacity: 0;
}

.text-cont h2 {
    font-family: 'Cambria';
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-cont p {
    width: 90%;
}

.parts {
    display: flex;
    justify-content: space-between;
}

.slice img {
    opacity: 0;
    transform: translate(10rem,10rem);
}

.locate-us {
    width: 100vw;
    height: 100%;
}

.location-wrapper {
    width: 87%;
    height: 55rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 7rem 0;
}

.addresses {
    padding: 2rem 1rem;
    width: 40%;
    transition: box-shadow .3s linear 1.7s;
}

.addresses .title {
    font-size: 5rem;
    font-family: 'Cambria';
    font-weight: 500;
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateX(-3rem);
}

.address-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.address-wrapper address {
    margin-right: 3rem;
    margin-bottom: 2rem;
    font-family: Arial;
    padding: .8rem;
    opacity: 0;
    transform: translateX(-3rem);
}

.address-wrapper address h3 {
    font-size: 1.4rem;
    font-style: normal;
    margin-bottom: .5rem;
    font-weight: 900;
    color: rgba(0,0,0,.6);
}

.address-wrapper address p {
    margin-bottom: .5rem;
    color: rgba(0,0,0,.5);
    font-weight: 600;
}

.address-wrapper address a {
    color: palevioletred;
    font-weight: 800;
}

.map {
    height: 100%;
    width: 55%;
    opacity: 0;
}

.map img {
    height: 100%;
    width: 100%;
    opacity: .7;
    border-radius: .5rem;
}

footer .logo::before,
footer .logo::after {
    display: none;
}

footer .logo {
    opacity: 0;
    transform: translateX(-5rem);
}

footer {
    width: 100%;
    height: 40vh;
    background: rgba(0,0,0,.8);
}

.footer-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.footer-wrapper .flex {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .links-wrapper {
    display: flex;
}

.links-wrapper ul:first-child {
    margin-right: 10rem;
}

.links-wrapper ul li {
    line-height: 3rem;
    opacity: 0;
    transform: translateX(-5rem);
}

.links-wrapper ul li a {
    color: rgba(255,255,255,.5);
    font-size: 1.5rem;
    transition: color .3s;
}

.links-wrapper ul li a:hover {
    color: #eee;
}


.social-media ul {
    display: flex;
}

.social-media li {
    margin-left: 4rem;
}

.social-media li:first-child {
    margin-left: 0;
}

.social-media .fab {
    color: #eee;
    font-size: 2rem;
    transition: color .3s;
    opacity: 0;
    transform: translateY(-5rem);
}

.social-media li a:hover .fab {
    color: rgba(255,255,255,.5);
}

.footnotes {
    background-color: rgba(0,0,0,.8);
    color: rgba(255,255,255,.5);
    font-size: 1.2rem;
    font-family: 'Cambria';
    width: 100%;
    text-align: center;
    padding: 1rem 0rem 2rem;
}

.footnotes .fas {
    color: red;
    margin: 0 .5rem;
}

/* Media Query */
@media screen and (max-width:1024px) {
    .hero {
        height: 70vh;
    }

    .hero-container {
        padding-top: 40rem;
    }

    .social {
        top: 40%;
    }

    .about-text {
        width: 50%;
    }

    .imgs-container {
        padding-left: 10rem;
        padding-top: 5rem;
    }

    .chef {
        display: none;
    }

    .food-desc {
        width: 100%;
        height: 100%;
        overflow-x: scroll;
    }

    .controls {
        display: none;
    }

    .slice img {
        display: none;
    }

    /* .text-cont p {
        width: 100%;
    } */

    .process-wrapper {
        padding: 7rem 10rem;
    }

    .location-wrapper {
        flex-direction: column;
        padding: 2rem 0;
        height: 100%;
    }

    .addresses {
        width: 100%;
    }

    .map {
        width: 100%;
    }

}

@media screen and (max-width:768px) {
    ::-webkit-scrollbar {
        display: none;
    }

    .hero {
        height: 80vh;
    }

    .hero-container {
        padding-top: 30rem;
    }

    .social {
        top: 40%;
    }

    .comp-name {
        font-size: 7rem;
    }

    .sub-text {
        font-size: 1.6rem;
    }

    nav {
        justify-content: space-between;
        padding: 0 5rem;
    }

    .hamburger {
        display: block;
    }

    .nav-list {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 100vh;
        padding: 10rem 0 5rem 3rem;
        background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
                    url('images/pexels-photo-1260968.jpeg') center no-repeat;
        background-size: cover;
        z-index: 1300;
        transform: translateX(100%);
        transition: transform .3s ease;
    }

    .nav-list li {
        padding: 5rem 0;
    }

    .container {
        padding: 3rem 2rem;
    }

    .info-top img {
        display: none;
    }

    .about-text {
        width: 100%;
        margin-left: 0;
    }

    .about-text p {
        line-height: 2.5rem;
    }

    .btn-div {
        position: initial;
        margin-top: 3rem;
    }

    .imgs-container .chef {
        display: none;
    }

    .imgs-container {
        padding-left: 0;
    }

    .desc-content::before,
    .desc-content::after {
        display: none;
    }

    .menu-container {
        padding: 2rem 1rem;
    }
/* 
    .food {
        border: 1px solid #fff;
    } */

    .scroll-indicator {
        visibility: visible;
    }

    .process-wrapper {
        padding: 4rem 5rem;
    }

    .footer-wrapper .flex {
        flex-direction: column;
        padding: 5rem 0;
    }


}

@media screen and (max-width:415px) {
    .logo img {
        width: 5rem;
        height: 5rem;
    }
    .hero {
        height: 90vh;
    }

    .hero-container {
        padding-top: 20rem;
    }

    .hamburger .line {
        width: 3rem;
    }

    .social {
        display: none;
    }

    .nav-list {
        padding: 5rem 2rem;
    }

    .nav-list li {
        padding: 4rem 0;
    }

    .comp-name {
        font-size: 5rem;
    }

    .sub-text {
        font-size: 1.5rem;
    }

    .imgs-container .big-image {
        display: none;
    }

    .small-image {
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
    }

    .img-wrapper img {
        width: 20rem;
        height: 20rem;
    }

    .desc {
        display: none;
    }

    .food-name {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .process .header {
        font-size: 3rem;
    }

    .parts {
        flex-direction: column;
    }

    .part {
        margin-bottom: 2rem;
    }

    .map {
        display: none;
    }

    .addresses {
        padding-top: 2rem;
    }

    .addresses .title {
        font-size: 3rem;
    }

    footer {
        height: 100%;
    }

    .footer-wrapper .logo-wrapper {
        margin-bottom: 5rem;
    }

    .links-wrapper {
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .links-wrapper ul:first-child {
        margin-right: 0;
    }

    .links-wrapper li {
        text-align: center;
    }
}

@media screen and (max-width:375px) {
    .nav-list li a {
        font-size: 1.6rem;
    }

    .nav-list li {
        padding: 3.5rem 0;
    }

    .order-div a {
        padding: .5rem 1rem;
    }

    .food {
        padding: 1.5rem;
    }
}

@media screen and (max-width:350px) {
    .comp-name {
        font-size: 5rem;
        text-align: center;
    }
}

.nav-opened {
    transform: translateX(0);
}

.cross .line {
    opacity: 0;
}

.cross .times {
    opacity: 1;
}

.fixed-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}